<h1>Login Here</h1>

<form method="post" action="/login">
    Username: <input type="text" name="user[username]"> <br>
    Password:  <input type="password" name="user[password]"><br>
    <input type="submit" value="Log In">
</form> 