<h1>Sign up here</h1>

<form method="post" action="/signup">
    Email: <input type="email" name="user[email]" required> <br>
    Username: <input type="text" name="user[username]"> <br>
    Password:  <input type="password" name="user[password]"><br>
    <input type="submit" value="Sign Up">
</form> 