<% if logged_in? %>

<h1><%= current_user.username %>'s Collection</h1>
<a href="/squirrels/new">Add a new pokesquirrel!</a>
<% @squirrels.each do |squirrel| %>
    <h3> <a href="/squirrels/<%= squirrel.id %>"><%= squirrel.name %> </a> </h3>
<% end %>
<% end %>