<% if logged_in? %>
  <h2> You are Logged in <%= current_user.username %> </h2>
<% end %>
<h1>All the Squirrels</h1>
<% @squirrels.each do |squirrel| %>
    <h3> <a href="/squirrels/<%= squirrel.id %>"><%= squirrel.name %> </a> </h3>
<% end %>