<h1>Add a new squirrel to your collection!</h1>
<form action="/squirrels" method="POST">
<label>Squirrel's Name:</label>
<br>
<input type="text" name="squirrel[name]" id="squirrel_name">
<br>
<br>
<label>Fur Color:</label>
<br>
<input type="text" name="squirrel[fur_color]" id="squirrel_fur_color">
<br>
<br>
<label>Mood:</label>
<br>
<input type="text" name="squirrel[mood]" id="squirrel_mood">
<br>
<br>
<label>Image Link:</label>
<br>
<input type="text" name="squirrel[img_link]" id="squirrel_img_link">
<br>
<br>
<input type="submit" value="Add Squirrel!">
</form>

<h3>How to Format Your Image Link:</h3>
<ol>
    <li>1. Navigate to https://www.imgur.com/ to host your image.</li>
    <li>2. Drag your desired file into the browser and upload the image.</li>
    <li>3. Right click uploaded image and select "Copy Image Address."</li>
    <li>4. Paste copied link into "Image Link" form. It should end with the file type (.jpeg, .png, etc.)</li>
    <li>5. Do a dance because you did it!</li>
</ol>