<h1>Add a new squirrel to your collection!</h1>
<form action="/squirrels" method="POST">
<label>Squirrel's Name:</label>
<br>
<input type="text" name="squirrel[name]" id="squirrel_name">
<br>
<br>
<label>Fur Color:</label>
<br>
<input type="text" name="squirrel[fur_color]" id="squirrel_fur_color">
<br>
<br>
<label>Mood:</label>
<br>
<input type="text" name="squirrel[mood]" id="squirrel_mood">
<br>
<br>
<label>Image Link:</label>
<br>
<input type="text" name="squirrel[img_link]" id="squirrel_img_link">
<br>
<a href='/squirrels/img'>How to properly format images</a>
<br>
<br>
<input type="submit" value="Add Squirrel!">
</form>